<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Volt</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
      <div id="display-when-logged-out">
        <p>You are not logged in</p>
        <button id="signup">Sign Up</button>
        <button id="login">Login</button>
    </div>
    <div id="display-when-logged-in">
        <p>You are logged in <span id="email"></span></p>
        <button id="account">Account</button>
        <button id="logout">Logout</button>
    </div>
    
    <script src="../static/index.js" type="module"></script>
  </body>
</html>
