<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoltWatch - Sign Up</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/navbar.css" />
    <link rel="stylesheet" href="/static/auth.css" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- navbar  -->
    <nav id="navbar">
      <div id="nav-div">
        <div class="left-nav">
          <div class="logo">
            <a href="."
              ><img
                src="{{ url_for('static', filename='assets/logo.png') }}"
                alt="logo"
                width="50"
            /></a>
          </div>
          <a href="/">Home</a>
        </div>
        <div class="right-nav">
          <a href="{{ 'login' }}" class="button">Log in</a>
        </div>
      </div>
    </nav>

    <!-- sign up form  -->
    <div class="form-container">
      <div class="heading-register">
        <h1>Sign Up</h1>
      </div>

      <!-- **USE ID: "signup-form"** -->
      <form
        action="{{ url_for('signup') }}"
        method="POST"
        class="form"
        id="signup-form"
      >
        <!-- name  -->
        <div>
          <label for="userName">Name:</label>
          <input type="text" id="userName" name="name" />
        </div>
        <!-- phone number  -->
        <div>
          <label for="userPhone">Phone Number:</label>
          <input type="text" id="userPhone" name="phone" />
        </div>
        <!-- email  -->
        <div>
          <label for="userEmail">Email:</label>
          <input type="email" id="userEmail" name="email" />
        </div>
        <!-- password  -->
        <div>
          <label for="userPassword">Password:</label>
          <input type="password" id="userPassword" name="password" />
        </div>
        <!-- address  -->
        <div>
          <label for="userAddress">Address:</label>
          <input type="text" id="userAddress" name="address" />
        </div>
        <!-- solar provider  -->
        <div>
          <label for="provider">Solar Provider:</label>
          <div class="select">
            <select id="provider" name="provider">
              <option value="sunnova">Sunnova</option>
              <option value="sunrun">Sunrun</option>
              <option value="tesla">Tesla</option>
              <option value="vivint">Vivint Solar</option>
              <option value="sunpower">SunPower</option>
              <option value="lg">LG Energy Solution</option>
              <option value="panasonic">Panasonic</option>
              <option value="enphase">Enphase Energy</option>
              <option value="solarEdge">SolarEdge</option>
              <option value="firstSolar">First Solar</option>
            </select>
          </div>
        </div>
        <div class="submit-btn">
          <input type="submit" value="Sign Up" />
        </div>

        <!-- login instead  -->
        <div class="redirect-login">
          <a href="{{ url_for('login') }}">Have an account? Log in</a>
        </div>
      </form>
    </div>
  </body>
</html>
